@import "tailwindcss";

@font-face {
    font-family: 'aux_monoregular';
    src: url('fonts/auxmono-regular-webfont.woff2') format('woff2'),
         url('fonts/auxmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.aux-mono-regular {
    font-family: 'aux_monoregular';
    font-size: 16px;
    text-transform: uppercase;
}
